<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BrgyForm.Properties.Settings.padirectoryConnectionString"
            connectionString="User Id=root;Host=localhost;Database=padirectory"
            providerName="Devart.Data.MySql" />
        <add name="BrgyForm.Properties.Settings.gadConnectionString"
            connectionString="Dsn=localhost;database=gad;description=mysql;option=0;port=3306;uid=root"
            providerName="System.Data.Odbc" />
        <add name="localhost_gadnew_Connection" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=; password=; database=gadnew;persist security info=true;CharSet=utf8;" />
        <add name="localhost_gadnew_Connection 1" connectionString="XpoProvider=MySql;server=localhost;port=3306;user id=; password=; database=gadnew;persist security info=true;CharSet=utf8;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.Core" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.5.1" newVersion="1.11.5.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>