body {
  font-size: 0.875rem;
  margin-top: 10px;
}

/* preset */

*,
p {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}
button {
  border: none !important;
  box-shadow: none !important;
}
/*
 * Sidebar
 */

.sidebar {
  position: sticky;
  top: 10px;
  height: 100vh;
  overflow: auto;
  left: 0;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background: rgb(144, 144, 144);
  cursor: pointer;
}
.sidebar::-webkit-scrollbar-track {
  background: black;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
}
.sidebar-sticky .sidebar-brand {
  background: white;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
}

.sidebar-sticky .search {
  display: flex;
  width: 100%;
}
.sidebar-sticky .search input {
  flex: 1;
  margin-right: 5px;
  padding: 0 10px;
  border: 1px solid rgb(144, 144, 144);
}
.sidebar-sticky .search button {
  background: black;
  color: white;
  padding: 5px 10px;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
}

.sidebar-sticky .navbar-brand {
  width: 100%;
  margin: 0;
  background-color: black;
}
.sidebar-sticky .navbar-brand .img {
  max-width: 150px;
}
.sidebar-sticky .navbar-brand .brand {
  width: 100%;
  word-break: break-all;
}

.sidebar .sidebar-sticky .accordion button {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
}
.sidebar .sidebar-sticky .accordion button:hover {
  opacity: 0.8;
}
.sidebar .sidebar-sticky .accordion button::after {
  fill: white;
  display: none;
}

.sidebar-sticky .accordion .accordion-item {
  background: gray;
  color: white;
  margin-bottom: 5px;
}
.sidebar-sticky .accordion .accordion-item ul {
  list-style: none;
  padding: 0;
}
.sidebar-sticky .accordion .accordion-item ul li {
  padding: 10px 10px;
  cursor: pointer;
}
.sidebar-sticky .accordion .accordion-item a {
  color: black;
}

.sidebar-sticky .accordion .accordion-item ul li:hover {
  background: rgb(70, 70, 70);
  font-weight: bold;
}

.sidebar-sticky .forms .gad-form button {
  border: 2px solid rgba(204, 204, 204, 0.5) !important;
}
.sidebar-sticky .forms .gad-form button:hover {
  background: rgb(79, 79, 79);
  color: white;
  border: 2px solid rgba(204, 204, 204, 0.5) !important;
}
.sidebar-sticky .forms .gad_form_btns .active {
  background: black;
  font-weight: bold;
  color: white;
  border: 2px solid rgba(204, 204, 204, 0.5) !important;
}
/*
 * main
 */

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
  box-shadow: none !important;
}
.dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.2);

  border-radius: 2px;
}

.dropdown-menu li {
  padding: 0 10px;
}
.dropdown-menu .type {
  text-align: center;
  padding: 5px;
}
.dropdown-menu .signout {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu .signout button {
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
}
.dropdown-menu .signout button:hover {
  opacity: 0.8;
}

.navbar .navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
}

.screenview {
  min-height: 100vh;
  padding-right: 5px;

  margin-bottom: 10px;
}
