body {
  font-size: 0.875rem;
  margin-top: 10px;
}

/* preset */

*,
p {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  width: 100%;
  height: 100%;
}
button {
  border: none !important;
  box-shadow: none !important;
}
ul {
  list-style: none;
  padding: 0;
}
/*
 * Sidebar
 */

a {
  text-decoration: none;
}

.sidebar {
  position: sticky;
  top: 10px;
  height: 100vh;
  overflow: auto;
  left: 0;
  animation: sidebar ease-in 300ms 1;
}
@keyframes sidebar {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background: rgb(144, 144, 144);
  cursor: pointer;
}
.sidebar::-webkit-scrollbar-track {
  background: black;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: 100vh;
}
.sidebar-sticky .sidebar-brand {
  background: white;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
}

.sidebar-sticky .search {
  display: flex;
  width: 100%;
  position: relative;
}
.sidebar-sticky .search .search_results {
  position: absolute;
  bottom: 0;
  transform: translateY(105%);
  background: white;
}
.sidebar-sticky .search .search_results ul li {
  padding: 8px 0;
  cursor: pointer;
}
.sidebar-sticky .search .search_results ul li:hover {
  color: white;
  background: rgb(255, 62, 143);
}
.sidebar-sticky .search input {
  flex: 1;
  margin-right: 5px;
  padding: 0 10px;
  border: 1px solid rgb(144, 144, 144);
}
.sidebar-sticky .search button {
  background: black;
  color: white;
  padding: 5px 10px;
}

.soc_dev_form_btns button:hover {
  background: gray;
  color: white;
}
.soc_dev_form_btns .active {
  background: black;
  color: white;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
}

.sidebar .navbar-brand {
  width: 100%;
  margin: 0;
  background-color: black;
}
.sidebar-sticky .navbar-brand .img {
  max-width: 150px;
}
.sidebar-sticky .navbar-brand .brand {
  width: 100%;
  word-break: break-all;
}

.sidebar-sticky .search input:active {
  border: 1px solid black;
}

.sidebar .sidebar-sticky .accordion button {
  color: rgb(0, 0, 0);
}
.sidebar .sidebar-sticky .accordion button:hover {
  opacity: 0.8;
}
.sidebar .sidebar-sticky .accordion button::after {
}

.sidebar-sticky .accordion .accordion-item {
  background: gray;
  color: white;
  margin-bottom: 5px;
}
.sidebar-sticky .accordion .accordion-item ul {
  list-style: none;
  padding: 0;
}
.sidebar-sticky .accordion .accordion-item ul li {
  padding: 10px 10px;
  cursor: pointer;
}
.sidebar-sticky .accordion .accordion-item a {
  color: black;
}

.sidebar-sticky .accordion .accordion-item ul li:hover {
  background: rgb(70, 70, 70);
  font-weight: bold;
}

.sidebar-sticky .forms .gad-form button {
  border: 2px solid rgba(204, 204, 204, 0.5) !important;
}
.sidebar-sticky .forms .gad-form button:hover {
  background: rgb(79, 79, 79);
  color: white;
  border: 2px solid rgba(204, 204, 204, 0.5) !important;
}
.sidebar-sticky .forms .gad_form_btns .active {
  background: black;
  font-weight: bold;
  color: white;
}

/*
 * main
 */

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
  box-shadow: none !important;
}
.dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.2);

  border-radius: 2px;
}

.dropdown-menu li {
  padding: 0 10px;
}
.dropdown-menu .type {
  text-align: center;
  padding: 5px;
}
.dropdown-menu .signout {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-menu .signout button {
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 2px;
}
.dropdown-menu .signout button:hover {
  opacity: 0.8;
}

.navbar .navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
}

.screenview {
  min-height: 100vh;
  padding-right: 5px;

  margin-bottom: 10px;
}

.pop_up_modal {
  position: fixed;

  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;

  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 0 20px;
}
.pop_up_modal .box {
  background: white;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
}

.pop_up_modal .box .action {
  display: flex;
  justify-content: flex-end;
}

.pop_up_modal .box button {
  background: black;
  color: white;
  padding: 10px 15px;
  margin: 10px;
}

.pop_up_modal .show {
  transform: translateY(0);
  animation: modal linear 300ms 1;
}

.loader_container {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.powered {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 180px;
  z-index: 5000;
}

.santa_cruz_gad {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
}
.santa_cruz_gad .img {
  max-width: 700px;
}

.burger_menu {
  position: fixed;
  width: max-content;
  top: 20px;
  left: 20px;
  background: black;
  cursor: pointer;
  z-index: 5000;
}

.burger_menu :hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .powered {
    max-width: 150px;
  }
}

.page_title {
  animation: page_title ease-in 300ms 1;
}

@keyframes page_title {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes modal {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
