<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cn" connectionString="User Id=root;Host=localhost;Password='';Database=gadnew" providerName="Devart.Data.MySql"/>
    <add name="GAD_Server.Properties.Settings.gadConnectionString" connectionString="User Id=root;Host=localhost;Database=gadnew" providerName="Devart.Data.MySql"/>
  </connectionStrings>
  <runtime>
    <gcaAllowWeryLargeObjects enabled="true"/>
    </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
